* {
    margin: 0;
    font-family: sans-serif;
}

.nav {
    height: 100vh;
    width: 450px;
    background-color: #313131;
    display: flex;
    flex-direction: column;
}

.chat-contanier {
    height: 100vh;
    width: calc(100vw - 450px);
    background-color: #1e1e1e;
}

.chat-header {
    height: 65px;
    background-color: #5B46D5;
    display: flex;
    align-items: center;
}

.contanier {
    display: flex;
}

.search-contanier {
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 40px;
    background-color: white;
    width: 300px;
    border-radius: 20px;
    padding-left: 10px;
}

.search img {
    height: 35px;
    width: 35px;
}

.search p {
    font-size: 22px;
}

.chat-nav {
    display: flex;
    height: 65px;
    align-items: center;
    border-top: #454545 solid 3px;
}

img {
    height: 60px;
}

.chat-bottom {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 90px;
    width: calc(100vw - 450px);
}

.user-input-field {
    border-radius: 20px;
    width: calc(100vw - 800px);
    height: 45px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.button img {
    height: 45px;
    
}

.content {
    height: calc(100vh - 65px);
}

